<!DOCTYPE html>

<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body>
    {% include navigation.html %}
    <div class="container">
      <section class="content">
        <article>
          <header>
            <section class="note">
              <b>Update</b>
              <p>We have updated the content of our program. To access the current Software Engineering curriculum visit
                <!-- <a href="https://curriculum.thestackcollective.org/">curriculum.thestackcollective.org.</a> -->
                <a href="https://curriculum.thestackcollective.org/">curriculum.thestackcollective.org.</a>
              </p>
            </section>
            <h1>
              {{ page.title }}
            </h1>
          </header>
          {{content}}
        </article>
      </section>
    </div>
    {% include search.html %}
    <script async src="https://assets.codepen.io/assets/embed/ei.js"></script>
    <script src="/public/js/active-links.js"></script>
    <script src="/public/js/expander.js"></script>
  </body>
</html>
